NEXT_PUBLIC_SUPABASE_URL=https://rrullavfeagxycyysekc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJydWxsYXZmZWFneHljeXlzZWtjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3NTkwODgsImV4cCI6MjA5NzMzNTA4OH0.unvqJHV6bLyD7j54xZvG1Hf995xbwrLiegUzQO4Fi50
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJydWxsYXZmZWFneHljeXlzZWtjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE3NTkwODgsImV4cCI6MjA5NzMzNTA4OH0.unvqJHV6bLyD7j54xZvG1Hf995xbwrLiegUzQO4Fi50
